body {

 font-size:  18px;
 line-height: 1.5;
 border-top: 1px solid #0E5159;
 border-bottom: 1px solid #0E5159;
 margin: 30px auto;
 width: 800px;
 padding: 20px;
 background-color: #020E17;
 font-family: sans-serif;

}

hr {

  border: .5px solid #8c8b8b;
}

nav {
  text-align: center;
  color: #0E5159;
  font-family: 'Open Sans Condensed', sans-serif;
}

nav ul{
  list-style-type: none;
  padding: 0px;



}



.current_page {
  font-style: italic;
}

nav li{
  display: inline-block;



}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  color: #15AB89;
  font-family: 'Merriweather', serif;

}

h3{
  font-family: 'Merriweather', serif;
  color: #15AB89;
}

h4 {
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  color: #15AB89;
}

p {
  color: #ffffff;
  font-weight: lighter;
  font-family: 'Open Sans Condensed', sans-serif;
}

li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
}

.Avatar {
  height: 200px;
  float: right;
  border: 1px solid #a4a6a8;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;

}

a {
  font-weight: bold;
  color: #0E5159;
  text-decoration: none;
  font-weight: lighter;
  -webkit-transition: color 500ms ease-out .01s;
  -moz-transition: color 500ms ease-out .01s;
  -o-transition: color 500ms ease-out .01s;
  transition: color 500ms ease-out .01s;
}

a:hover {



  color: #15AB89;
}
